includes:
  - ./vendor/phpstan/phpstan-phpunit/extension.neon
  - ./vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
  phpVersion: 80200 # PHP 8.2 - Current minimal version supported
  level: max
  paths:
    - ./src
    - ./tests

  bootstrapFiles:
    - ./vendor/autoload.php

  ignoreErrors:
    -
      path:    './src/Day/PuzzleDay15.php'
      message: '`Parameter #1 \$sequences of method Application\\Day\\PuzzleDay15::hashmap\(\) expects array<int, array<int, string>>, array<int, array<int, string>\|bool> given.`'
